{%extends "layout.html" %}
{% block main %}
    <h2>Contact Us</h2>
    <form >
        <div>
            <input autocomplete="off" type="text" name="name" placeholder="Your Name">
        </div>
         <div>
            <input autocomplete="off" type="text" name="phone" placeholder="Your Phone Number">
        </div>
         <div>
            <input autocomplete="off" type="text" name="email" placeholder="Your Email">
        </div>
         <div>
            <input type="submit">
        </div>
    </form>
{% endblock %}