{%extends "layout.html" %}
{% block main %}
    <h2>Meet our Support Staff</h2>
    <div class="row">
        <div class="col text-center">
            <h3>Tiny Tim</h3>
            <img src="../images/Tiny-Tim.jpg" style="width: 225px;">
        </div>
        <div class="col text-center">
            <h3>Animal</h3>
            <img src="../images/animal.webp" style="width: 310px;">
        </div>
        <div class="col text-center">
            <h3>Sam Eagle</h3>
            <img src="../images/SamTheEagle.jpg" style="width: 200px;">
        </div>
    </div>    
{% endblock %}