{%extends "layout.html" %}
{% block main %}
    <h2>Services</h2>
    <div class="row">
        <div class="card col">
            <div class="card-title">
                <h3>Time Management</h3>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <div class="list-item">Body Double</div>
                    <div class="list-item">Accountability Text</div>
                    <div class="list-item">Time Management Coach</div>
                </div>
            </div>
        </div>
        <div class="card col">
            <div class="card-title">
                <h3>Home Care</h3>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <div class="list-item">Schedule a sudden visitor</div>
                    <div class="list-item">House Cleaner</div>
                    <div class="list-item">Tips and Tricks for a cleaner home</div>
                </div>
            </div>
        </div>
        <div class="card col">
            <div class="card-title">
                <h3>Managing Finances</h3>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <div class="list-item">Financial Advisor</div>
                    <div class="list-item">Budget Hacks</div>
                    <div class="list-item">Meet with a support group</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}